<div class="mycontainer">
  <div class="card p-2 m-1 shadow-lg" style="width: 18rem; background-color: #cfd8fc; color:#010618;">
    <div class="d-flex" role="search">
      <input
        [(ngModel)]="city"
        class="form-control me-2 hover-shadow"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn hover-shadow" style="background-color: #082082; color:#cfd8fc;"
        type="submit"
        (click)="ngOnInit()"
      >
        Search
      </button>
    </div>
    <div class="d-flex flex-row justify-content-around p-2">
      <div class="form-check" [(ngModel)]="units" (change)="handleOptionChange('imperial')">
        <input 
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Farenheit
        </label>
      </div>
      <div class="form-check" [(ngModel)]="units" (change)="handleOptionChange('metric')">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Celsius
        </label>
      </div>
    </div>
    <img
      src="{{ icon }}"
      class="card-img-top"
      alt="..."
      style="width: 17rem; height: 17rem"
    />
    <div class="card-body text-center">
      <h2 class="card-title">{{ name }}</h2>
      <p class="card-text capitalize">Summary: {{ summary }}</p>
      <div *ngIf="units == 'metric'; else elseBlock">
        <p class="card-text">Temprature: {{ temprature }}°C</p>
        <p class="card-text">Feels like: {{ feels }}°C</p>
        <p class="card-text">Pressure: {{ pressure }}Pa</p>
        <p class="card-text">Humidity: {{ humidity }}%</p>
      </div>
      <ng-template #elseBlock>
        <p class="card-text">Temprature: {{ temprature }}°F</p>
        <p class="card-text">Feels like: {{ feels }}°F</p>
        <p class="card-text">Pressure: {{ pressure }}PSI</p>
        <p class="card-text">Humidity: {{ humidity }}%</p>
      </ng-template>
    </div>
  </div>
</div>
